<div class="container">

  <div class="col-xs-12 text-center" id="top-bar">
    <h1> Sequelize Ver. of Eat-Da-Burger Assignment 15! </h1>
    <small>Mostly the same html/css code. However behind the scenes the structure of the files were or in line with work standards, and es6 was implemented.</small>
    <small>The database still uses mysql, but now uses sequelize as model structure.</small>
    <small>If interested, take a look at my github and web profile to see the history of coding, mostly javascript projects I have worked on.
      <br><br>
    <div class='row'>
      <button class="btn btn-link indent" onclick="window.open('https://github.com/Caromin')">Github</button>
      <button class="btn btn-link indent" onclick="window.open('https://caromin.github.io/Caromin-WebPortfolio/')">Personal Web Portfolio</button>
    </small>
    </div>
  </div>
  </br>

  <div class='row'>
    <div class="col text-center" id='one'class="task">
      <h3>Burgers Not Eaten</h3>
        {{!-- each is a loop through all burger data --}}
        {{#each burger_false}}
        {{!-- unless = if returns a false value --}}
          {{#unless this.devoured}}
          <div class='row'>
            <div class='col-6' style='text-align: left;'>
              <input class="form-control" type="text" placeholder="{{ plusOne @index}} . {{this.burgerName}}" readonly>
            </div>
            <div class='col-3'>
                <form method='POST' action='/update?_method=PUT'>
                  <input input type="hidden" type="text" name="burger_id" value={{this.id}}>
                <button type="submit" id='{{this.id}}' class=" test btn btn-default">Devour it!</button>
              </form>
            </div>
            <div class='col-3'>
                <form method='POST' action='/update?_method=DELETE'>
                  <input input type="hidden" type="text" name="burger_id" value={{this.id}} >
                <button type="submit" id='{{this.id}}' class=" test btn btn-default">Delete</button>
              </form>
            </div>
          </div>
          {{/unless}}
        {{/each}}
    </div>

    <div class="col text-center" id='two' class="task">
      <h3>Burgers Eaten</h3>
      <div class="row"><br /><br />
        {{#each burger_true}}
        {{!-- if = if it returns false, undefined, null, '', 0 , [], it will not render/run --}}
          {{#if this.devoured}}
            <div class='col-9'>
            <input class="form-control" type="text" placeholder="{{ plusOne @index}} . {{this.burgerName}}" readonly>
            </div>
            <div class='col-3'>
                <form method='POST' action='/update?_method=DELETE'>
                  <input input type="hidden" type="text" name="burger_id" value={{this.id}}>
                <button type="submit" id='{{this.id}}' class=" test btn btn-default">Delete</button>
              </form>
            </div>
          {{/if}}
        {{/each}}
    </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row" id='submitRow'>
    <div class="col-xs-12 text-center enter_section">
      <form action="/create" method="POST">
        <input type="text" class="form-control" name="burgerName" value="" id="enter_text">
        <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
      </form>
      <p>Enter a burger you want to eat Click the "Submit" button.</p>
    </div>
  </div>
</div>

<style>
  pre {
    width: 80%;
  }
  .test {
    font-size: 14px;
    color: red;
  }
  #submitRow {
    margin-top: 10px;
    padding-top: 10px;
    background-color: black;
    justify-content: center;
    align-content: center;
    color: white;
  }
  form {
    display: inline-block;
  }
  .col-3 {
    padding: 0;
    padding-top: 5px;
  }
  .col-6, .col-9 {
    padding-top: 5px;
  }
</style>
